body {
    width: 948px;
    /* border: 1px solid black; */
    margin: 0 auto;
}

section {
    display: flex;
    padding: 0;
}


.personal-info {
    background-color: white;
    float: left;
    text-align: left;
    width: 300px;
    padding: 35px 30px;
    font-family: 'Noto Sans KR';
    font-size: 15px;
    color: #263747;
}

.resume {
    background-color: white;
    float: right;
    text-align: left;
    width: 468px;
    padding: 35px 20px;
    font-family: 'Noto Sans KR';
    font-size: 15px;
    color: #263747;
}

/* footer {
    clear: both;
} */