.wrapper {
    display: grid;
}

.cards-area {
    display: flex;
    margin: 50px auto 25px auto;
}

.first-card {
    width: 180px;
    border-radius: 12px;
    background-image: linear-gradient(-60deg, #ff9a44 0%, #fc6076 100%);
    margin-right: 30px;
    z-index: 10;
}

.tm > .first-card {
    background-image: linear-gradient(-60deg, #517fa4 0%, #243949 100%);
}

.trv > .first-card {
    background-image: linear-gradient(-60deg, #f4d03f 0%, #16a085 100%);
    
}

.first-card > h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    float: left;
    margin: 10px 0 0 15px;
}

.card {
    display: block;
    width: 180px;
    border-radius: 12px;
    box-shadow: -2px 4px 7px 2px #464646;
    transition: .3s;
}

.card:not(:first-child) {
    margin-left: -20px;
}

.card:hover {
    transform: translateY(-50px);
}

.card:hover ~ .card {
    transform: translateX(30px);
}