@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap');

html {
    border: 1px solid black;
    background-color: #fdf9f6;
    width: 1024px;
    margin: 0 auto;
}

::selection {
    background-color: #feaa4a;
}

header {
    height: 140px;
}

header > h1 {
    text-align: center;
    font-size: 85px;
    font-family: 'GT Walsheim Pro Oblique';
    margin: 0 0 0 10px;
    padding: 15px 30px 0 30px;
    display: inline-block;
}

header a {
    text-decoration: none;
    color: #212121;
}

header > h1 > a {
    transition-duration: 0.2s;
    text-shadow: 5px 5px 0px #FE924A;
}

header > h1 > a:hover {
    color: #FE924A;
    text-shadow: 5px 5px 0px #212121;
}

/* 메뉴바 */
.items {
    float: right;
    margin-right: 30px;
    padding-top: 60px;
}

.items a {
    display: inline-block;
    text-decoration: none;
    color: #151515;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0 12px;
    padding-bottom: 3px;
    height: 25px;
    overflow: hidden;
}

.items a span {
    display: inline-block;
    transition: transform 500ms;
}

.items a span:after {
    /* CSS content 속성은 생성한 값으로 요소를 대체합니다. */
    /* 대체한 요소 = 익명 대체 요소 */
    /* attr() : HTML 속성값으로 연결 */
    content: attr(data-hover); 
    position: absolute;
    top: -30px;
    left: 0;
    transform: translate3d(0, 0, 0);
    border-bottom: 3px solid #ffa66a;
}

.items a:hover span,
.items a:focus span {
    transform: translateY(30px);
}

/* 메인 */
section {
    background-color: white;
    padding: 35px 60px;
    margin: 0 30px;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-size: 15px;
    color: #263747;
}

/* 푸터 */
footer {
    /* background-color: white; */
    color: #5c5c5c;
    padding-top: 35px;
    padding-bottom: 10px;
    margin: 20px 30px 0 30px;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 12px;
}

footer a {
    color: #5c5c5c;
}