resources/fonts/GTWalsheimPro/GTWalsheimPro-Black/GTWalsheimPro-Black.ttf
resources/fonts/GTWalsheimPro/GTWalsheimPro-Black/GTWalsheimPro-Black.woff
resources/fonts/GTWalsheimPro/GTWalsheimPro-Black/GTWalsheimPro-Black.woff2
resources/fonts/GTWalsheimPro/GTWalsheimPro-BlackOblique/GTWalsheimPro-BlackOblique.ttf
resources/fonts/GTWalsheimPro/GTWalsheimPro-BlackOblique/GTWalsheimPro-BlackOblique.woff
resources/fonts/GTWalsheimPro/GTWalsheimPro-BlackOblique/GTWalsheimPro-BlackOblique.woff2
resources/fonts/GTWalsheimPro/GTWalsheimPro-Black/style.css
resources/fonts/GTWalsheimPro/GTWalsheimPro-Light/GTWalsheimPro-Light.ttf
resources/fonts/GTWalsheimPro/GTWalsheimPro-Light/GTWalsheimPro-Light.woff2
resources/fonts/GTWalsheimPro/GTWalsheimPro-Light/GTWalsheimPro-Light.woff
resources/fonts/GTWalsheimPro/GTWalsheimPro-BlackOblique/style.css
css/style.css
resources/fonts/GTWalsheimPro/GTWalsheimPro-Light/style.css
resources/fonts/GTWalsheimPro/GTWalsheimPro-Thin/GTWalsheimPro-Thin.ttf
resources/fonts/GTWalsheimPro/GTWalsheimPro-Thin/GTWalsheimPro-Thin.woff
resources/fonts/GTWalsheimPro/GTWalsheimPro-Thin/style.css
resources/fonts/GTWalsheimPro/GTWalsheimPro-Thin/GTWalsheimPro-Thin.woff2
